/* Esconder botones de paginación
nav[role='navigation']{
    visibility: hidden;
} */

h5 {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 700;
}

p {
    font-size: 12px;
}

/* Limitar caracteres por filas */
.module {
    width: 250px;
    margin: 0 0 1em 0;
    overflow: hidden;
}

.module p {
    margin: 0;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/*Recortar imagen*/
.cardimg {
    width: 16rem;
    height: 12rem;
    overflow: hidden;
    margin: auto;
    position: relative;
}

.card-img-top {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

img:hover,
.card:hover,
.card-title:hover {
    transform: scale(1.01)
}

#precio {
    font-weight: bold;
}

option{
    font-size:20px;
}

#next:hover{
    transform: scale(1.1);
}

/* .slideThree */
.slideThree {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
  .slideThree:after {
    content: 'OFF';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
  }
  .slideThree:before {
    content: 'ON';
    color: #27ae60;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }
  .slideThree label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
  .slideThree input[type=checkbox] {
    visibility: hidden;
  }
  .slideThree input[type=checkbox]:checked + label {
    left: 43px;
  }

  /* end .slideThree */



/* Slider */

.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
width: 100%;
}

.slick-slider
{
position: relative;
display: block;
box-sizing: border-box;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
        user-select: none;
-webkit-touch-callout: none;
-khtml-user-select: none;
-ms-touch-action: pan-y;
    touch-action: pan-y;
-webkit-tap-highlight-color: transparent;
}

.slick-list
{
position: relative;
display: block;
overflow: hidden;
margin: 0;
padding: 0;
}
.slick-list:focus
{
outline: none;
}
.slick-list.dragging
{
cursor: pointer;
cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
-webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
     -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
}

.slick-track
{
position: relative;
top: 0;
left: 0;
display: block;
}
.slick-track:before,
.slick-track:after
{
display: table;
content: '';
}
.slick-track:after
{
clear: both;
}
.slick-loading .slick-track
{
visibility: hidden;
}

.slick-slide
{
display: none;
float: left;
height: 100%;
min-height: 1px;
}
[dir='rtl'] .slick-slide
{
float: right;
}
.slick-slide img
{
display: block;
}
.slick-slide.slick-loading img
{
display: none;
}
.slick-slide.dragging img
{
pointer-events: none;
}
.slick-initialized .slick-slide
{
display: block;
}
.slick-loading .slick-slide
{
visibility: hidden;
}
.slick-vertical .slick-slide
{
display: block;
height: auto;
border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
display: none;
}


.slide a{
    color: black;
}

#wrapper{
    position: absolute;
    z-index: 99999999999;
}

/* Alerta Cookies */

.cc-window {
    opacity: 1;
    transition: opacity 1s ease
  }
  .cc-window.cc-invisible { opacity: 0 }
  .cc-animate.cc-revoke { transition: transform 1s ease }
  .cc-animate.cc-revoke.cc-top { transform: translateY(-2em) }
  .cc-animate.cc-revoke.cc-bottom { transform: translateY(2em) }
  .cc-animate.cc-revoke.cc-active.cc-bottom, .cc-animate.cc-revoke.cc-active.cc-top, .cc-revoke:hover { transform: translateY(0) }
  .cc-grower {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s
  }
  .cc-color-override--1680425298.cc-window {
      background-color: rgba(0, 0, 0, 0.8)!important;
      color: #fff;
  }
  .cc-banner.cc-bottom {
      bottom: 0;
      left: 0;
      right: 0;
  }
  .cc-revoke, .cc-window {
     box-sizing: border-box;
      font-family: "Roboto",sans-serif;
      font-size: 12px;
      line-height: 1.5em;
      overflow: hidden;
      padding: 1em 0.3em;
      position: fixed;
      text-align: center;
      z-index: 9999;
  }
  
  .cc-color-override--1680425298 .cc-link, .cc-color-override--1680425298 .cc-link:active, .cc-color-override--1680425298 .cc-link:visited {
      color: #fff;
  }
  .cc-link, .cc-revoke:hover {
      text-decoration: underline;
  }
  .cc-btn {
     background-color: #ffffff;
      border-color: transparent;
      border-style: solid;
      border-width: 2px;
      color: #000;
      display: block;
      font-size: 0.9em;
      font-weight: 700;
      margin: 10px auto 0;
      max-width: 5em;
      padding: 0.4em 0;
      text-align: center;
      white-space: nowrap;
  }
  .cc-btn, .cc-close, .cc-link, .cc-revoke {
      cursor: pointer;
  }
